@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

@font-face {
    font-family: "Nexa Bold";
    src: url("fonts/nexa/NexaBold.otf");
}

@font-face {
    font-family: "Montserrat";
    src: url("fonts/montserrat/montserrat-medium.ttf");
}

@font-face {
    font-family: Lato;
    src: url("fonts/Lato/Lato-Bold.ttf");
}

@keyframes startLogo {
    0% {
        transform: scale(1) translate(0, -100%);
        opacity: 0;
    }
    
    50% {
        transform: scale(1) translate(0, 0);
        opacity: 1;
    }
    
    75% {
        transform: scale(1.3);
    }

    100% {
        transform: scale(1)
    }
}

* {
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
    max-width: 1600px;
}

.header-logo__image {
    transition: all 0.3s ease-in-out;
    animation: startLogo 1.5s ease-in-out 1 0.5s;
}

.header-logo__image:hover {
    transform: scale(1.2);
}

.fa {
    transition: all 0.2s ease-in-out;
}

.fa:hover {
    transform: scale(1.4);
    transition: all 0.2s ease-in-out;
}

.header-upper {
    margin-left: 204px;
    margin-right: 185px;
    display: grid;
    grid-template-columns: minmax(auto, 310px) auto auto auto;
    grid-gap: 20px;
    margin-top: 37px;
    padding-bottom: 24px;
    border-bottom: 2px solid #c2c2c2;
}

.header-info__1st-line {
    color: #6a6a6a;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    line-height: 22px;
    font-weight: 700;
}

.header-info__2nd-line {
    color: #6a6a6a;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
}

.header-link {
    color: #ffffff;
    font-family: "FontAwesome", sans-serif;
    font-weight: 400;
    width: 51px;
    height: 51px;
    background-color: #1a9bdc;
    border-radius: 50%;
    display: block;
    text-align: center;
    line-height: 51px;
    margin-right: 19px;
    float: left;
    transition: all 0.6s ease-in-out;
}

.header-link:hover {
    transition: all 0.6s ease-in-out;
    transform: rotate(360deg);
}

.header-link:active {
    background-color: #1a9bdc;
    transition: all 0.2s ease-in-out;
}

.header-link__work-time {
    max-width: 294px;
    font-size: 30px;
}

.header-link__mail-us {
    font-size: 23px;
    max-width: 227px;
}

.header-link__call-us {
    font-size: 40px;
    max-width: 186px;
}

.header-lower {
    margin-left: 215px;
    margin-right: 190px;
    margin-top: 30px;
    display: grid;
}

.header-lower {
    display: flex;
    justify-content: space-between;
    margin-bottom: 36px;
}

.main-nav__ul {
    list-style-type: none;
}

.main-nav__li {
    float: left;
}

.main-nav__a {
    text-decoration: none;
    color: #6c6c6c;
    font-family: "Nexa Bold", sans-serif;
    font-size: 20px;
    font-weight: 400;
    padding: 5px 15px;
    transition: all 0.2s ease-in-out;
}

.main-nav__a:hover {
    color: #262626;
    transition: all 0.2s ease-in-out;
}

.main-nav__a:active {
    color: #aaa;
    transition: all 0.2s ease-in-out;
}

.main-nav__a_active {
    color: #262626;
}

.social-links__a {
    padding: 5px 12px;
    color: #191919;
    font-family: "Font Awesome";
    font-size: 23px;
    font-weight: 400;
    letter-spacing: 1.8px;
}

.social-links__a:hover {
    color: #999;
}

.poster {
    background-image: url(img/Layer_10.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-size: ;
    min-height: 640px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.poster__content {
    margin-left: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.poster__title {
    color: #474747;
    font-family: "Montserrat";
    font-size: 48px;
    font-weight: 500;
    letter-spacing: -1.19px;
    text-align: center;
    margin-bottom: 30px;
}

.poster__text {
    color: #3f3f3f;
    font-family: "Open Sans";
    font-size: 17px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    max-width: 420px;
    margin-bottom: 40px;
}

.read-more-button {
    text-decoration: none;
    color: #ffffff;
    font-family: Lato, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.32px;
    box-shadow: -4px 12px 40px rgba(0, 1, 1, 0.2);
    transition: all 0.2s ease-in-out;
}

.read-more-button:hover {
    transform: scale(1.1, 1.2);
    background-color: #43b1d2;
    box-shadow: -2px 5px 10px rgba(0, 1, 1, 0.3);
    transition: all 0.2s ease-in-out;
}

.read-more-button:active {
    box-shadow: -1px 2px 3px rgba(0, 1, 1, 0.4);
    transition: all 0.2s ease-in-out;
}

.poster__button {
    background-color: #1a9bdc;
    font-size: 18px;
    width: 166px;
    height: 47px;
    border-radius: 23.5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.services {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.services__card {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    text-align: center;
    padding-top: 75px;
    padding-bottom: 57px;
    transition: all 0.2s ease-in-out;
}

.services__card:hover {
    box-shadow: inset 1px 1px 30px -10px rgba(0, 1, 1, 0.5);
}

.services__card:hover .services__svg {
    background-color: #cecece;
    transition: all 0.2s ease-in-out;
    transform: rotate(360deg);
}

.services__card:hover .services__title {
    color: #cecece;
    transition: all 0.2s ease-in-out;
}

.services__card:active {
    box-shadow: inset 1px 1px 20px -10px rgba(0, 1, 1, 0.8);
}

.best-treatment-card {
    background-color: #43b1d2;
}

.emergency-help-card {
    background-color: #3fb6c6;
}

.medical-staff-card {
    background-color: #3cbbbb;
}

.qualified-doctors-card {
    background-color: #37c3a8;
}

.services__svg {
    align-self: center;
    width: 75px;
    height: 75px;
    background-color: #ffffff;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 20px;
}

.best-treatment-svg {
    background-image: url(img/Vector_Smart_Object.png);
}

.emergency-help-svg {
    background-image: url(img/emergency-help.png);
}

.medical-staff-svg {
    background-image: url(img/medical-staff.png);
}

.qualified-doctors-svg {
    background-image: url(img/qualified-doctors.png);
}

.services__title {
    color: #ffffff;
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 700;
    /* letter-spacing: -1.82px; */
    margin-bottom: 20px;
}

.services__text {
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    max-width: 285px;
    align-self: center;
}

.why-choose {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "why-choose__title why-choose__title why-choose__title"
        "why-choose__subtitle why-choose__subtitle why-choose__subtitle"
        "why-choose__item-1 why-choose__image why-choose__item-3"
        "why-choose__item-2 why-choose__image why-choose__item-4";
    margin: 0 auto;
    max-width: 75%;
    grid-row-gap: 25px;
    grid-column-gap: 60px;
}

.why-choose__title {
    grid-area: why-choose__title;
    color: #494949;
    font-family: Montserrat;
    font-size: 45px;
    font-weight: 700;
    text-align: center;
    padding-top: 110px;
}

.why-choose__text {
    color: #6a6a6a;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
}

.why-choose__subtitle {
    grid-area: why-choose__subtitle;
    text-align: center;
    max-width: 890px;
    justify-self: center;
}

.why-choose__image {
    grid-area: why-choose__image;
}

.why-choose__item-1 {
    grid-area: why-choose__item-1;
    position: relative;
}

.why-choose__item-2 {
    grid-area: why-choose__item-2;
    position: relative;
}

.why-choose__item-3 {
    grid-area: why-choose__item-3;
    position: relative;
}

.why-choose__item-4 {
    grid-area: why-choose__item-4;
    position: relative;
}

.why-choose__h4 {
    color: #6f6f6e;
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: -1.82px;
    padding-left: 94px;
    margin-bottom: 43px;
}

.why-choose__item::before {
    position: absolute;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: #1a9bdc;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: -18px;
}

.why-choose__item-1::before {
    content: url(img/why-choose-1.png);
}

.why-choose__item-2::before {
    content: url(img/why-choose-2.png);
}

.why-choose__item-3::before {
    content: url(img/why-choose-3.png);
}

.why-choose__item-4::before {
    content: url(img/why-choose-4.png);
}

.why-choose__item {
    align-self: center;
}

.best-feature {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-image: url(img/best-feature-background.png);
    height: 592px;
    background-color: #0087be;
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    padding: 0 200px;
    align-items: baseline;
}

.best-feature__icon_1 {
    background-image: url(img/best-feature-1.png);
    width: 91px;
    height: 80px;
}

.best-feature__icon_2 {
    background-image: url(img/best-feature-2.png);
    width: 80px;
    height: 71px;
}

.best-feature__icon_3 {
    background-image: url(img/best-feature-3.png);
    width: 91px;
    height: 62px;
}

.best-feature__icon_4 {
    background-image: url(img/best-feature-4.png);
    width: 91px;
    height: 73px;
}

.best-feature__number {
    color: #ffffff;
    font-family: Montserrat;
    font-size: 60px;
    font-weight: 500;
    letter-spacing: -1.19px;
    margin-top: 33px;
}

.best-feature__line {
    width: 84px;
    height: 6px;
    background-color: #ffffff;
    margin: 25px 0;
}

.best-feature__text {
    color: #ffffff;
    font-family: Montserrat;
    font-size: 25px;
    font-weight: 500;
    letter-spacing: -1.52px;
    max-width: 165px;
    text-align: center;
}

.best-feature__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 160px 0;
}

.how-we-works {
    display: grid;
    grid-template-columns: 30% 30% 40%;
    grid-template-rows: repeat(4, auto);
    grid-gap: 25px;
    grid-template-areas: "works__title works__title creative__title"
        "works__text works__text creative__text"
        "works__item-1 works__item-2 heart-treatment"
        "work__button work__button .";
    padding: 100px 195px 100px 210px;
}

.how-we-works__title {
    grid-area: works__title;
}

.how-we-works__text {
    grid-area: works__text;
}

.how-we-works__item-1 {
    grid-area: works__item-1;
}

.how-we-works__item-2 {
    grid-area: works__item-2;
}

.our-creative__title {
    grid-area: creative__title;
}

.our-creative__text {
    grid-area: creative__text;
    max-width: 407px;
}

.heart-treatment {
    grid-area: heart-treatment;
    max-width: 407px;
}

.title-h3 {
    color: #494949;
    font-family: Montserrat, sans-serif;
    font-size: 45px;
    font-weight: 700;
}

.text {
    color: #6a6a6a;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
}

.how-we-works__item-1,
how-we-works__item-2 {
    max-width: 335px;
}

.how-we-works__h6 {
    color: #6f6f6e;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: -1.21px;
    margin-top: 30px;
    margin-bottom: 13px;
}

.how-we-works__date {
    color: #0087be;
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: -0.38px;
}

.how-we-works__item-text {
    margin-top: 20px;
}

.how-we-works__image {
    max-width: 100%;
}

.how-we-work__button {
    width: 154px;
    height: 43px;
    border-radius: 21.5px;
    background-color: #0087be;
    font-size: 17px;
    text-align: center;
    line-height: 40px;
}

.how-we-work__button-wrapper {
    grid-area: work__button;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.heart-treatment__button {
    display: flex;
    max-width: 422px;
    min-height: 54px;
    border-radius: 27px;
    background-color: #0087be;
    text-decoration: none;
    margin-bottom: 17px;
    transition: all 0.3s ease-in-out;
}

.heart-treatment__button:hover {
    background-color: #e2e2e2;
}

.heart-treatment__button:hover .heart-treatment__round-button {
    background-color: #0087be;
}

.heart-treatment__button:hover .fa-caret-right::before {
    color: #ffffff;
}

.heart-treatment__button:hover .heart-treatment__text-button {
    color: #0087be;
}

.heart-treatment__text-button {
    color: #ffffff;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
    margin: auto 11px;
}

.heart-treatment__round-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ffffff;
    text-align: center;
    margin: auto 9px;

}

.fa-caret-right {
    color: #0087be;
    font-family: "Font Awesome";
    font-size: 26px;
    font-weight: 400;
    margin: 10px auto;
    /*letter-spacing: 2px;
    line-height: 24px;*/

    /*letter-spacing: 2px;
    line-height: 29px;*/

    /*letter-spacing: 2px;
    line-height: 22px;*/
}

.fa-caret-right::before {
    font-size: 22px;
    font-weight: 400;
}

.heart-treatment__text {
    margin-bottom: 40px;
}

.heart-treatment__button_grey {
    margin-bottom: 12px;
    background-color: #e2e2e2;
    transition: all 0.3s ease-in-out;
}

.heart-treatment__text-button_grey {
    color: #494949;
}

.heart-treatment__round-button_grey {
    background-color: #f9fcfd;
}

.gallery {
    background-color: #38b69e;
    background-image: url(img/gallery-bg.png);
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    opacity: 0.9;
    padding-top: 90px;
    padding-bottom: 94px;
}

.gallery__title {
    color: #ffffff;
    font-family: Montserrat;
    font-size: 45px;
    font-weight: 700;
    text-align: center;
}

.gallery-text {
    max-width: 1116px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #ffffff;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 35px;
    margin-bottom: 54px;
}

.gallery__images {
    max-width: 1105px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    grid-column-gap: 35px;
    grid-row-gap: 37px;
}

.gallery__img {
    max-width: 100%;
    transition: all 0.3s ease-in-out;
}

.gallery__img:hover {
    transform: scale(1.3);
}

.our-team {
    padding: 145px 80px 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.our-team__title {
    color: #494949;
    font-family: Montserrat;
    font-size: 45px;
    font-weight: 700;
    text-align: center;
}

.our-team__text {
    max-width: 1095px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 45px;
    margin-bottom: 80px;
    text-align: center;
}

.our-team__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 28px;
    align-self: center;
}

.our-team__item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.our-team__name {
    color: #6f6f6e;
    font-family: Montserrat;
    font-size: 25px;
    font-weight: 500;
    margin-top: 30px;
    margin-bottom: 12px;
}

.our-team__item_text {
    color: #6f6f6e;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: -1.09px;
    margin-bottom: 25px;
}

.our-team__link {
    color: #0087be;
    font-family: "Font Awesome";
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 1.8px;
}

.our-team__link:hover {
    color: #666;
}

.our-team__link > .fa-facebook {
    padding: 5px 10px;
}

.our-team__link > .fa-google-plus {
    padding: 5px 6px;
}

.our-team__link > .fa-vk {
    padding: 5px;
}

.our-team__img {
    border-radius: 50%;
    max-width: 100%;
}

.special-offer {
    padding: 68px 220px 54px 260px;
    display: flex;
    justify-content: space-between;
    background-color: #e2e2e2;
    align-items: center;
}

.special-offer__title {
    color: #494949;
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 700;
}

.special-offer__button {
    width: 192px;
    height: 54px;
    background-color: #0087be;
    border-radius: 27px;
    font-size: 21px;
    text-align: center;
    line-height: 52px;
}

.contacts {
    background-color: #171717;
    padding: 115px 190px 108px 215px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    grid-column-gap: 15px;
}

.contacts__title {
    color: #ffffff;
    font-family: "Open Sans", sans-serif;
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.55px;
    margin-bottom: 63px;
}

.contacts__text {
    opacity: 0.51;
    color: #ffffff;
    font-family: "Open Sans", sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.4px;
}

.mail__item {
    font-size: 16px;
}

.get-in-touch__social-links-item {
    color: #ffffff;
    font-family: "Font Awesome", sans-serif;
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 1.8px;
    padding: 10px 12px;
    transition: all 0.2s ease-in-out;
}

.get-in-touch__social-links-item:hover {
    color: #666;
}

.mail {
    background-image: url(img/contacts-mail.png);
    background-repeat: no-repeat;
    padding-left: 80px;
    background-position: left;
    margin-bottom: 50px;
}

.phone {
    background-image: url(img/contacts-phone.png);
    background-repeat: no-repeat;
    padding-left: 80px;
    background-position: left;
    margin-bottom: 50px;
}

.address {
    background-image: url(img/contacts-address.png);
    background-repeat: no-repeat;
    padding-left: 80px;
    background-position: left;
    margin-bottom: 55px;
}

.quick-links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quick-links__list {
    display: flex;
    flex-direction: column;
}

.quick-links__link {
    text-decoration: none;
    opacity: 0.51;
    color: #ffffff;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.4px;
}

.fa__contacts {
    color: #0087be;
    font-family: "Font Awesome", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 19.04px;
    letter-spacing: 1.8px;
    margin-right: 21px;
    transition: all 0.2s ease-in-out;
}

.quick-links__link:hover {
    opacity: 1;
    transition: all 0.2s ease-in-out;
}

.quick-links__link:active {
    color: #0087be;
}

.our-services {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.our-services__list {
    display: flex;
    flex-direction: column;
}

.our-services__link {
    text-decoration: none;
    opacity: 0.51;
    color: #ffffff;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.4px;
}

.our-services__link:hover {
    opacity: 1;
    transition: all 0.2s ease-in-out;
}

.our-services__link:active {
    color: #0087be;
}

.name-input {
    background-color: #171717;
    outline: none;
    border: none;
    border-bottom: 1px solid #3b3b3b;
    opacity: 0.51;
    color: #ffffff;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.4px;
    padding: 0 0 15px 0;
    width: 230px;
}

.phone-input {
    background-color: #171717;
    outline: none;
    border: none;
    border-bottom: 1px solid #3b3b3b;
    opacity: 0.51;
    color: #ffffff;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.4px;
    margin-top: 15px;
    padding: 0 0 15px 0;
    width: 230px;
}

.message-input {
    background-color: #171717;
    color: #ffffff;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.4px;
    opacity: 0.51;
    outline: none;
    border: none;
    border-bottom: 1px solid #3b3b3b;
    width: 230px;
    resize: none;
    height: 90px;
    margin-top: 25px;
}

.submit-button {
    color: #ffffff;
    font-family: Lato, sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.32px;
    width: 125px;
    min-height: 35px;
    outline: none;
    border: none;
    border-radius: 17.5px;
    background-color: #0087be;
    margin-top: 22px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.submit-button:hover {
    transform: scale(1.1, 1.3);
    background-color: #43b1d2;
    box-shadow: -2px 5px 10px rgba(0, 1, 1, 0.3);
    transition: all 0.2s ease-in-out;
}

.submit-button:active {
    box-shadow: -1px 2px 3px rgba(0, 1, 1, 0.4);
}

footer {
    background-color: #1a1a1a;
    padding-top: 55px;
    padding-bottom: 50px;
    text-align: center;
}

.footer__text {
    color: #615555;
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.33px;
}

.main-nav__burger {
    display: none;
}

@media (max-width: 1569px) {
    .header-upper {
        margin-left: 150px;
        margin-right: 100px;
    }

    .header-lower {
        margin-left: 150px;
        margin-right: 100px;
    }
}

@media (max-width: 1436px) {
    .header-upper {
        margin-left: 100px;
        margin-right: 75px;
        grid-template-columns: auto auto auto auto;
        grid-gap: 13px;
    }

    .header-lower {
        margin-left: 100px;
        margin-right: 75px;
    }

    .header-link {
        margin-right: 12px;
    }
}

@media (max-width: 1277px) {
    .header-upper {
        margin-left: 65px;
        margin-right: 50px;
        grid-gap: 9px;
    }

    .header-lower {
        margin-left: 65px;
        margin-right: 50px;
    }
}

@media (max-width: 1093px) {
    .header-upper {
        margin-left: 50px;
        margin-right: 40px;
    }

    .header-lower {
        margin-left: 50px;
        margin-right: 40px;
    }

    .header-link {
        margin-right: 8px;
    }

    .header-info__1st-line {
        letter-spacing: 0px;
    }

    .header-info__2nd-line {
        letter-spacing: 0px;
    }
}

@media (max-width: 1059px) {
    .header-upper {
        margin-left: 35px;
        margin-right: 20px;
    }

    .header-lower {
        margin-left: 35px;
        margin-right: 20px;
    }

    .header-info__2nd-line {
        font-size: 13px;
    }
}

@media (max-width: 970px) {
    .header-upper {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: auto auto auto;
    }

    .header-logo {
        grid-column-start: 1;
        grid-column-end: 4;
    }

    .social-links__a {
        padding: 5px 4px;
    }
}

@media (max-width: 850px) {
    .main-nav__a {
        padding: 5px 7px;
    }
}

@media (max-width: 720px) {
    .header-upper {
        display: flex;
        flex-direction: column;
    }

    .header-upper__item {
        margin-top: 15px;
    }

    .header-link {
        margin-right: 20px;
    }

    .header-info__2nd-line {
        font-size: 15px;
    }
}

@media(max-width: 349px) {
    .header-link {
        margin-right: 10px;
    }

    .header-info__2nd-line {
        font-size: 14px;
    }

    .header-upper {
        margin-left: 28px;
        margin-right: 18px;
    }

    .header-lower {
        margin-left: 28px;
        margin-right: 18px;
    }
}

@media (max-width: 767px) {
    .main-nav__burger {
        display: block;
    }

    .header-lower {
        margin-top: 12px;
        margin-right: 28px;
        /*flex-direction: column-reverse;
        align-items: center;*/
    }

    .main-nav__burger {
        margin-left: 20px;
    }

    .main-nav__li {
        margin-top: 10px;
    }

    .fa-bars:before {
        font-size: 35px;
    }

    .fa-bars_active:before {
        content: "\f00d" !important;
    }

    .main-nav__ul {
        display: none;
    }

    .main-nav__ul_active {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 345px) {
    .header-lower {
        margin-left: 20px;
        margin-right: 12px;
    }

    .main-nav__burger {
        margin-left: 8px;
    }
}

@media (max-width: 1596px) {
    .poster__content {
        margin-left: 20%;
    }
}

@media (max-width: 1370px) {
    .poster__content {
        margin-left: 15%;
    }
}

@media (max-width: 1180px) {
    .poster {
        background-position: -250px;
        grid-template-columns: 60% 40%;
    }

}

@media (max-width: 1120px) {
    .poster {
        background-position: -300px;

    }
}

@media (max-width: 1030px) {
    .poster {
        background-position: -340px;
    }

    .poster__content {
        margin-left: 10%;
    }
}

@media (max-width: 978px) {
    .poster {
        background-position: -365px;
    }
}

@media (max-width: 948px) {
    .poster {
        background-position: -400px;
        grid-template-columns: 62% 38%;
    }

    .poster__content {
        margin-left: 7%;
    }
}

@media (max-width: 880px) {
    .poster {
        background-position: center;
    }
}

@media (max-width: 767px) {
    .poster {
        grid-template-columns: 100%;
        background-size: cover;
        min-height: 400px;
        background-position: 60%;
    }

    .poster__content {
        margin-left: 10%;
        margin-right: 10%;
    }

    .poster__title {
        font-size: 30px;
    }
}

@media (max-width: 1500px) {
    .services__card {
        padding: 55px 10px 40px;
    }
}

@media (max-width: 1367px) {
    .services__card {
        padding: 45px 10px 30px;
    }
}

@media (max-width: 1155px) {
    .services__title {
        font-size: 25px;
    }

    .services__text {
        font-size: 14px;
    }
}

@media (max-width: 999px) {
    .services {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
}

@media (max-width: 600px) {
    .services {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
    }

    .services__card {
        padding: 32px 10px 22px;
    }
}

@media (max-width: 1441px) {
    .why-choose {
        max-width: 80%;
    }
}

@media (max-width: 1280px) {
    .why-choose {
        max-width: 90%;
        grid-column-gap: 30px;
    }

    .why-choose__title {
        padding-top: 90px;
    }
}

@media (max-width: 1062px) {
    .why-choose {
        grid-column-gap: 20px;
        max-width: 70%;
        margin: 0 60px;
    }

    .why-choose__title {
        padding-top: 60px;
    }
}

@media (max-width: 982px) {
    .why-choose {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(6, auto);
        max-width: 100%;
        margin: 0 auto;
        padding: 0px 50px;
        grid-row-gap: 19px;
        grid-column-gap: 0px;
        margin-bottom: 35px;
    }

    .why-choose__title {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .why-choose__subtitle {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    .why-choose__image {
        grid-row-start: 3;
        grid-row-end: 6;
        grid-column-start: 3;
        grid-column-end: 4;
    }

    .why-choose__item-1 {
        grid-row-start: 3;
        grid-row-end: 4;
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .why-choose__item-2 {
        grid-row-start: 4;
        grid-row-end: 5;
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .why-choose__item-3 {
        grid-row-start: 5;
        grid-row-end: 6;
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .why-choose__item-4 {
        grid-row-start: 6;
        grid-row-end: 7;
        grid-column-start: 1;
        grid-column-end: 4;
    }

    .why-choose__title {
        padding-top: 40px;
    }

    .why-choose__h4 {
        margin-bottom: 27px;
    }
}

@media (max-width: 767px) {
    .why-choose {
        grid-template-columns: 35% 35% 30%;
        grid-row-gap: 25px;
    }

    .why-choose__image {
        max-width: 100%;
        height: auto;
        grid-row-start: 3;
        grid-row-end: 5;
        grid-column-start: 3;
        grid-column-end: 4;
    }

    .why-choose__item-3 {
        grid-row-start: 5;
        grid-row-end: 6;
        grid-column-start: 1;
        grid-column-end: 4;
    }
}

@media (max-width: 626px) {
    .why-choose__image {
        display: none;
    }

    .why-choose {
        grid-template-columns: 1fr;
        padding: 0px 25px 10px;
        grid-row-gap: 23px;
    }

    .why-choose__title {
        padding-top: 32px;
        font-size: 35px;
    }

    .why-choose__subtitle {
        text-align: left;
    }

    .why-choose__text {
        font-size: 15px;
    }
}

@media (max-width: 353px) {
    .why-choose__title {
        font-size: 31px;
    }

    .why-choose {
        padding: 0px 15px 5px;
    }
}

@media (max-width: 1540px) {
    .best-feature {
        padding: 0 150px;
        height: 500px;
        background-size: cover;
        background-position: right;
    }

    .best-feature__item {
        padding: 0;
        margin: auto;
    }
}

@media (max-width: 1450px) {
    .best-feature {
        padding: 0 80px;
    }

}

@media (max-width: 1142px) {
    .best-feature {
        padding: 0 55px;
        height: 430px;
        align-items: baseline;
    }

    .best-feature__number {
        margin-top: 23px;
        font-size: 50px;
    }

    .best-feature__line {
        margin: 18px 0;
        height: 4px;
    }

    .best-feature__text {
        font-size: 22px;
    }

    .best-feature__icon_3 {
        margin-bottom: 16px;
    }

    .best-feature__icon_4 {
        margin-bottom: 5px;
    }
}

@media (max-width: 880px) {
    .best-feature {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        min-height: 520px;
        padding: 0 20px;
    }

    .best-feature__number {
        margin-top: 10px;
        font-size: 35px;
    }

    .best-feature__icon {
        transform: scale(0.8);
    }

    .best-feature__line {
        margin: 10px 0;
        height: 3px;
    }

    .best-feature__icon_3 {
        margin-bottom: 0px;
    }

    .best-feature__icon_4 {
        margin-bottom: 0px;
    }
}

@media (max-width: 620px) {
    .best-feature {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        padding: 10px;
    }

    .best-feature__item {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto;
        margin: 10px auto 0 20px;
    }

    .best-feature__number {
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 2;
        grid-column-end: 3;
        font-size: 30px;
        justify-self: center;
    }

    .best-feature__line {
        margin: 4px 0;
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 2;
        grid-column-end: 3;
    }

    .best-feature__text {
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 3;
        grid-column-end: 4;
        font-size: 18px;
        margin-left: 20px;
        margin-top: 12px;

    }

    .best-feature__icon {
        grid-row-start: 1;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 2;
        transform: scale(0.6);
        margin-right: 10px;
    }
}

@media (max-width: 413px) {
    .best-feature__item {
        margin: 5px auto 5px 0px;
    }
}

@media (max-width: 360px) {
    .best-feature__icon {
        margin-right: 0px;
    }

    .best-feature__text {
        margin-left: 10px;
    }
}

@media (max-width: 1480px) {
    .how-we-works {
        padding: 100px 100px 100px 120px;
    }
}

@media (max-width: 1110px) {
    .how-we-works {
        grid-column-gap: 15px;
        padding: 90px 90px 90px 90px;
    }
}

@media (max-width: 980px) {
    .how-we-works {
        padding: 70px 50px 65px 70px;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "works__title works__title"
            "works__text works__text"
            "works__item-1 works__item-2"
            "work__button work__button"
            "creative__title creative__title"
            "creative__text creative__text"
            "heart-treatment heart-treatment"
    }

    .our-creative__text {
        max-width: 100%;
    }

    .heart-treatment {
        max-width: 100%;
    }
}

@media (max-width: 750px) {
    .how-we-works {
        padding: 50px 20px 50px 25px;
    }
}

@media (max-width: 670px) {
    .how-we-works {
        display: block;
        padding: 40px 10px 37px 25px;
    }

    .how-we-work__button-wrapper {
        margin-bottom: 40px;
    }

    .how-we-works__title {
        text-align: center;
        margin-bottom: 18px;
    }

    .how-we-works__image {
        margin-top: 18px;
    }

    .our-creative__title {
        text-align: center;
        margin-bottom: 18px;
    }

    .heart-treatment__button {
        margin-top: 20px;
        margin-bottom: 15px;
    }
}

@media (max-width: 376px) {
    .how-we-works {
        padding: 35px 8px 30px 18px;
    }

    .how-we-works__title {
        font-size: 38px;
    }

    .our-creative__title {
        font-size: 38px;
    }
}

@media (max-width: 350px) {
    .how-we-works__title {
        font-size: 32px;
    }

    .our-creative__title {
        font-size: 32px;
    }
}

@media (max-width: 1200px) {
    .gallery__images {
        grid-column-gap: 18px;
        grid-row-gap: 24px;
        padding: 0 70px;
    }

    .gallery-text {
        max-width: 88%;
    }
}

@media (max-width: 1200px) {
    .gallery__images {
        padding: 0 55px;
    }
}

@media (max-width: 1023px) {
    .gallery__images {
        grid-column-gap: 15px;
        grid-row-gap: 22px;
        padding: 0 45px;
    }
}

@media (max-width: 880px) {
    .gallery__images {
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        grid-column-gap: 25px;
        grid-row-gap: 37px;
        padding: 0 50px;
        justify-items: center;
    }

    .gallery {
        padding: 45px 0px 48px;
    }

    .gallery-text {
        max-width: 92%;
        margin-top: 22px;
        margin-bottom: 35px;
    }
}

@media (max-width: 816px) {
    .gallery__images {
        padding: 0 40px;
        grid-column-gap: 22px;
    }
}

@media (max-width: 767px) {
    .gallery__images {
        padding: 0 28px;
        grid-column-gap: 18px;
        grid-row-gap: 22px;
    }
}

@media (max-width: 690px) {
    .gallery__images {
        grid-template-columns: 100%;
        grid-row-gap: 28px;
    }

    .gallery-text {
        text-align: left;
    }
}

@media (max-width: 400px) {
    .gallery {
        padding: 30px 0 32px;
    }

    .gallery__title {
        font-size: 38px;
    }

    .gallery-text {
        font-size: 15px;
        max-width: 98%;
        margin: 20px 8px 28px 15px;
    }

    .gallery__images {
        padding: 0 10px;
    }
}

@media (max-width: 1400px) {
    .our-team {
        padding: 90px 80px 80px 80px;
    }
}

@media (max-width: 1280px) {
    .our-team {
        padding: 80px 70px 80px 70px;
    }

    .our-team__content {
        grid-gap: 25px;
    }
}

@media (max-width: 1080px) {
    .our-team {
        padding: 60px 50px;
    }
}

@media (max-width: 1023px) {
    .our-team {
        padding: 50px 45px;
    }

    .our-team__content {
        grid-gap: 20px;
    }

    .our-team__name {
        font-size: 22px;
    }

    .our-team__item_text {
        font-size: 16px;
    }

    .our-team__link > .fa-facebook {
        padding: 5px 8px;
    }

    .our-team__link > .fa-google-plus {
        padding: 5px 4px;
    }

    .our-team__link > .fa-vk {
        padding: 5px 3px;
    }

    .our-team__text {
        margin: 32px 0 45px;
    }
}

@media (max-width: 900px) {
    .our-team {
        padding: 40px 35px;
    }

    .our-team__content {
        grid-gap: 17px;
    }
}

@media (max-width: 767px) {
    .our-team {
        padding: 40px 50px;
    }

    .our-team__content {
        grid-template-columns: 1fr 1fr;
        grid-gap: 40px;
    }

    .our-team__name {
        margin: 18px 0 10px;
    }

    .our-team__item_text {
        margin-bottom: 12px;
    }
}

@media (max-width: 599px) {
    .our-team {
        padding: 35px 30px;
    }

    .our-team__content {
        grid-gap: 25px;
    }

    .our-team__text {
        text-align: left;
    }
}

@media (max-width: 550px) {
    .our-team__content {
        grid-template-columns: 1fr;
        grid-gap: 35px;
    }

    .our-team__text {
        font-size: 15px;
        margin: 20px 0 25px;
    }
}

@media (max-width: 398px) {
    .our-team {
        padding: 30px 15px;
    }

    .our-team__title {
        font-size: 38px;
    }
}

@media (max-width: 1570px) {
    .special-offer {
        padding: 68px 140px 54px 140px;
    }
}

@media (max-width: 1350px) {
    .special-offer {
        padding: 68px 110px 54px 110px;
    }
}

@media (max-width: 1350px) {
    .special-offer {
        padding: 68px 90px 54px 90px;
    }

    .special-offer__title {
        font-size: 28px;
    }
}

@media (max-width: 1205px) {
    .special-offer {
        padding: 68px 80px 54px 80px;
    }

    .special-offer__title {
        font-size: 25px;
    }
}

@media (max-width: 1090px) {
    .special-offer {
        padding: 68px 75px 54px 75px;
    }

    .special-offer__title {
        font-size: 22px;
    }
}

@media (max-width: 996px) {
    .special-offer {
        padding: 50px 40px 50px 40px;
        flex-direction: column;
    }

    .special-offer__title {
        font-size: 25px;
        margin-bottom: 30px;
        text-align: center;
    }
}

@media (max-width: 780px) {
    .special-offer {
        padding: 45px 30px 45px 30px;
    }

    .special-offer__title {
        font-size: 22px;
        margin-bottom: 20px;
        line-height: 35px;
    }
}

@media (max-width: 540px) {
    .special-offer {
        padding: 45px 20px 45px 20px;
    }

    .special-offer__title {
        font-size: 18px;
        margin-bottom: 20px;
        line-height: 28px;
    }
}

@media (max-width: 1500px) {
    .contacts {
        padding: 115px 80px 108px 145px;
    }

    .get-in-touch__social-links-item {
        padding: 10px 8px;
    }
}

@media (max-width: 1230px) {
    .contacts {
        padding: 90px 70px 85px 120px;
    }

    .mail,
    .phone,
    .address {
        padding: 0 0 0 60px;
    }
}

@media (max-width: 1155px) {
    .contacts {
        padding: 80px 45px 70px 80px;
    }

    .mail,
    .phone,
    .address {
        padding: 0 0 0 56px;
    }
}

@media (max-width: 1020px) {
    .contacts {
        padding: 60px 25px 60px 50px;
    }

    .contacts__title {
        margin-bottom: 35px;
    }
}

@media (max-width: 960px) {
    .contacts {
        grid-template-columns: 1fr 1fr;
        padding: 55px 60px 55px 110px;
        grid-gap: 55px;
        justify-items: start;

    }

    .contacts__form {
        display: flex;
        flex-direction: column;
    }

    .mail,
    .phone,
    .address {
        margin: 0 0 30px;
    }
}

@media (max-width: 767px) {
    .contacts {
        padding: 40px 30px 40px 70px;
        grid-column-gap: 25px;
    }
}

@media (max-width: 590px) {
    .contacts {
        grid-template-columns: 1fr;
        padding-left: 100px;
    }
}

@media (max-width: 470px) {
    .contacts {
        padding-left: 70px;
    }
}

@media (max-width: 395px) {
    .contacts {
        padding-left: 50px;
    }
}

@media (max-width: 355px) {
    .contacts {
        padding-left: 30px;
        padding-right: 10px;
    }

    .mail,
    .phone,
    .address {
        margin: 0 0 26px;
        padding-left: 48px;
    }
}

@media (max-width: 1370px) {
    footer {
        padding: 45px;
    }
}

@media (max-width: 1060px) {
    footer {
        padding: 30px;
    }
}

@media (max-width: 950px) {
    footer {
        padding: 22px;
    }
}

@media (max-width: 670px) {
    footer {
        padding: 18px 24px;
    }
}

@media (max-width: 360px) {
    footer {
        padding: 18px 20px;
    }
}
